* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background: linear-gradient(to bottom, #ffcccc 0%, #de6868 100%);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade-in-added {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-70%);
  }
  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes blink-three-times {
  50% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 20px;
  animation: bounce 1s ease-in-out;
 
}

#title-todo {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: bold;
  animation: fade 1s ease;
}

#count-completed {
  margin-bottom: 30px;
  animation: fade 1s ease;
}

.input-field {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  animation: fade 1s ease;
}

#input-todo {
  margin-right: 5px;
  width: 200px;
  font-size: 20px;
  outline: none;
  animation: fade 1s ease;
}

#input-todo:hover {
  border: solid 1px black;
}

#input-todo:focus {
  border: 2px solid rgb(94, 160, 246);
}

#button-add {
  font-size: 22px;
}

.errorBlink {
  animation: blink-three-times 0.4s 3;
}

.added {
  animation-name: fade-in-added;
  animation-duration: 1s;
  animation-timing-function: ease;
}

ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 25px;
  animation: fade 1s ease;
}

li p:hover {
  text-decoration: line-through;
}

li p {
  transition: 0.7s;
}

li span {
  color: rgb(125, 125, 125);
}

li span:hover {
  color: rgb(38, 37, 37);
}

.trashcan {
  margin-left: 15px;
  cursor: pointer;
}

.completed {
  color: #888;
  text-decoration: line-through;
  
}

#input-alert {
  color: red;
  font-size: 16px;
  font-style: italic;
}
