.container-1 {
  width: 400px;
  margin: auto;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: blue;
}

#button-add {
  color: red;
}

.completed {
  color: #888;
  text-decoration: line-through;
}

small {
  color: red;
  font-size: 24;
}

.trashcan {
  margin-left: 15px;
  cursor: pointer;
}
